<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="airasiaApp">
    <head>
        <title>Air Quality Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body>

        <div ng-controller="Controller" class="container" style="margin-top:60px">

            <div class="row">
                <div id="location" class="alert alert-success">{{location}}</div>
                <form class="form-inline"> 
                    <label for="city">Enter City Name : </label>
                    <input type="text" class="form-control" ng-model="city" id="city"/>
                    <input type="button" value="Submit" ng-click="showIndex()" class="btn btn-primary"/>
                </form>
            </div>  
            <br>
            <div class="row">
                <div id="status" class="alert alert-success">{{status}}</div>
                <div id="message" class="alert alert-success">{{message}}</div>
            </div>
        </div>
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/service.js" type="text/javascript"></script>
        <script src="js/controller.js" type="text/javascript"></script>        
    </body>
</html>
